#root {
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  max-width: 1280px;
}

main {
  max-width: 1280px;
  margin: 0;
  padding: 0;
  display: grid;
  place-items: center;
  gap: 25px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card {
  padding: 2em;
}

.filters-form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}
.select-container {
  position: relative;
  display: inline-block;
  width: 20%;
  border: none;
}
.select-container::after {
  content: "\25BC";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

select {
  appearance: none; 
  border-radius: 8px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  width: 100%;
}


select::-ms-expand {
  display: none; 
}

.reset-btn {
  width: 20%;
}
select:hover {
  outline:1px solid var(--rick-color) ;
}

@media (max-width: 991px) {
  .filters-form {
    width: 100%;
  }
  .select-container {
    width: 100%;
    text-align: center;
  }
  select {
    margin-bottom: 10px;
  }

  main {
    justify-content: space-between;
  }
}