table {
  width: 100%;
  border-radius: 8px;
}

thead {
  height: 3rem;
  font-size: 2rem;
  color: var(--morty-color);
}

tbody {
  font-size: 1.5rem;
}

tr {
  transition: all .3s;
}
tr:nth-child(odd) {
  background: #3333338e;
}
tr:nth-child(even) {
  background: #66666682;
}

.profile-container {
  margin: 0;
  padding: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  place-items: center;
  gap: 25px;
}


.profile-container img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid var(--rick-color);
}

.profile {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}

.profile:hover .profile-info {
  transform: scale(1.1);
}

.profile p {
  margin-left: 25px;
}
.profile-info {
  width: 80%;
  display: flex;
  align-items: center;
  transition: all .5s;
  cursor: pointer;
}

.profile-row {
  animation: showDropdown .5s ease forwards ;
}


@keyframes showDropdown {
  from {
    transform: scaleY(0);
    transform-origin: top; 
    opacity: 0;
  }
  to {
    transform: scaleY(1);
    opacity: 1;
  }
}
