.home-main {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.home-main h1 {
  font-size: 9rem;
  margin-bottom: 7rem;
  text-shadow: 15px 15px 30px #1a1a1a;
}

.home-links-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.home-links-container a{
  font-size: 2rem;
  padding: 0.6em 1.2em;
  color: white;
  transition: all .3s;
}

.home-links-container a:hover {
  opacity: .8;
}