.home-main {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.home-main h1 {
  font-size: 7rem;
  margin-bottom: 7rem;
}

.home-links-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.home-links-container a{
  font-size: 3rem;
  padding: 0.6em 1.2em;
  color: #646cff;
  border: 2px solid #646cff;
  transition: all .3s;
}

.home-links-container a:hover {
  border: 2px solid #878cfa;
  color: #878cfa;
  opacity: .8;
}