.card-container {
  width: 300px;
  position: relative;
  height: auto;
}

.card-container h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgba(0, 0, 0,.2);
}
.card-container img {
  width: 100%;
  margin: 0;
  border-radius: 15px;
}

.card-container span {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 2rem;
  height: 2rem;
  margin: 5px 5px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0,.2);

  font-weight: bold;
}