.card-container {
  width: 300px;
  height: 300px;
  position: relative;
  border-radius: 15px;
  transition: all .3s;
  animation: showCard 1s;
  color: #fff;
}

.card-container h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  font-weight: 700;
  background-color: rgba(0, 0, 0,.2);
}
.card-container img {
  width: 100%;
  margin: 0;
  border-radius: 15px;
  cursor: pointer;
}

.card-container:hover {
  transform: scale(1.05);
  box-shadow: 0px 22px 34px 18px rgba(0,0,0,0.5);

}

.card-container span {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 2.5rem;
  height: 2.5rem;
  margin: 5px 5px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0,.4);

  font-weight: bold;
  font-size: 1rem;
}
@keyframes showCard {
  from {
    opacity: 0;

  }to {
    opacity: 1;
  }
}